main {
    padding: 10px;
    background-color: cornflowerblue;
    border: 2px solid black;
    border-radius: 5px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 10px 10px 5px rgb(167, 205, 232);
}
  
#main {
    text-align: center;
    color: aliceblue;
    text-shadow: 2px 2px 4px #000000;
}
  

button{
    display:block;
    background-color:#f4f7f7;
    color:cornflowerblue;
    padding: 5px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border-radius: 10px;
    

}
